<form name="checkStep3Form" class="ng-hide" ng-show="!checkStep || checkStep == 3" ng-submit="forward(4)">

  <h2>Check Name & Message</h2>

  <div class="form-group display-flex flex-wrap">
    <input id="checkName" name="checkName" type="text" ng-model="check.name" class="form-control flex-order-1" placeholder="e.g. HTTP Health Check" ng-required="true"/>
    <label for="checkName">Check Name</label>
  </div>

  <div class="form-group display-flex flex-wrap">
    <textarea id="checkMsg" name="checkMsg" ng-model="check.message" class="form-control flex-order-1" placeholder="e.g. Status should be returning 200" ng-required="true"></textarea>
    <label for="checkMsg">Message</label>
  </div>
  <div class="help-block">This will appear in the notification to help recipients.</div>

  <h2>Check Interval</h2>

  <div class="btn-group">
    <select class="sr-only" ng-required="true" ng-model="check.interval" ng-options="i for i in intervals"></select>
    <label class="btn btn-raised btn-default" ng-model="check.interval" btn-radio="int" uncheckable ng-repeat="int in intervals">
      {{int.name}}
    </label>
  </div>


  <h2>Notifications</h2>
  <div ng-repeat="notif in check.notifications" class="row" ng-init="notifIndex = $index">
    <notification-item notif="notif"></notification-item>
  </div>

  <div class="padding-bx2">
    <button type="button" class="btn btn-flat btn-nopad btn-primary" ng-click="check.addItem('notifications')"><svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_add" /></svg> Add another Notification</button>
  </div>

  <div class="btn-container btn-container-fixed btn-container-bordered-top btn-container-righty">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <button type="button" class="btn btn-flat" ng-click="sendTestNotification()" ng-disabled="checkStep3Form.$invalid">Send a test</button>
          <button type="submit" class="btn btn-flat btn-success" ng-disabled="checkStep3Form.$invalid">
            <span ng-if="creating">Finish <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_checkmark" /></svg></span>
            <span ng-if="!creating">Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>

</form>