<div class="col-xs-12">
  <h2>Create Assertions</h2>
  <p>Assertions define passing criteria for a check.</p>
    <ul class="list-unstyled">
      <li ng-repeat="assertion in check.assertions" class="row" ng-init="assertionIndex = $index">
        <div class="col-xs-12 col-sm-4">
          <div class="form-group" dropdown is-open="status['assertionType'+$index]">
            <select class="sr-only" ng-required="true" ng-model="check.assertions[$index].type" ng-options="r for r in assertionTypes"></select>
            <button type="button" class="btn btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled">
              {{assertion.type.name || 'Type'}} <svg class="btn-icon" viewBox="0 0 24 24"><use xlink:href="#ico_caret_down" /></svg>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="type in assertionTypes">
                <a href="#" ng-click="changeAssertionType(type,assertionIndex)">
                  {{type.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="form-group" dropdown is-open="status['assertionRelationship'+$index]" ng-if="assertion.type.name">
            <select class="sr-only" ng-required="true" ng-model="assertion.relationship" ng-options="r for r in relationships"></select>
            <button type="button" class="btn btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled">
              {{assertion.relationship.name || 'Relationship'}} <svg class="btn-icon" viewBox="0 0 24 24"><use xlink:href="#ico_caret_down" /></svg>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="relationship in relationships">
                <a href="#" ng-click="changeAssertionRelationship(relationship,assertion)">
                  {{relationship.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div ng-if="assertion.relationship.name && assertion.type.name == 'Response Body'">
            <input type="text" ng-model="assertion.value" placeholder="Value" class="form-control" ng-required="true" ng-if="!assertion.relationship.name.match('Is Empty|Is Not Empty')"/>
            <span ng-if="assertion.value !== null">Assertion Passing: {{assertionPassing(assertionIndex)}}</span>
          </div>
          <div ng-if="assertion.relationship.name && assertion.type.name == 'Response Header'">
            <input type="text" ng-model="assertion.value.name" typeahead="h as h[0] for h in checkResponse.responseHeaders | filter:$viewValue" class="form-control" placeholder="Header Key">
            <input type="text" ng-model="assertion.value.value" typeahead="h as h[1] for h in checkResponse.responseHeaders | filter:$viewValue" class="form-control" placeholder="Header Value" ng-if="!assertion.relationship.name.match('Is Empty|Is Not Empty')">
            <span ng-if="assertion.value.name && assertion.value !== null">Assertion Passing: {{assertionPassing(assertionIndex)}}</span>
          </div>
          <div ng-if="assertion.relationship.name && assertion.type.name == 'Status Code'">
            <div class="form-group">
              <input type="text" ng-model="assertion.value" typeahead="c.code as c.code for c in codes | filter:$viewValue" class="form-control" placeholder="Code" ng-required="true" ng-if="!assertion.relationship.name.match('Is Empty|Is Not Empty')">
              <label>Code</label>
            </div>
            <span ng-if="assertion.value !== null">Assertion Passing: {{assertionPassing(assertionIndex)}}</span>
          </div>
          <buttton type="button" class="btn btn-default btn-sm" ng-click="check.removeItem('assertions',assertionIndex,'Remove this assertion?')" ng-hide="assertionIndex === 0">Remove Assertion</buttton>
        </div>
      </li>
  </ul>
  <div>
    <button type="button" class="btn btn-flat btn-primary" ng-click="check.addItem('assertions')"><svg class="btn-icon" viewBox="0 0 24 24"><use xlink:href="#ico_add" /></svg> Add Another Assertion</button>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <tabset vertical="false">
            <tab ng-if="checkResponse" active="true" heading="Response">
              <table class="table">
                <tr>
                  <td><strong>Status Code</strong></td>
                  <td>{{checkResponse.status}} - {{checkResponse.statusText}}</td>
                </tr>
                <tr ng-repeat="h in checkResponse.responseHeaders">
                  <td><strong>{{h[0]}}</strong></h4></td>
                  <td>{{h[1]}}</td>
                </tr>
              </table>

              <h3>Body</h3>
              <div style="overflow:auto;max-height:300px;" hljs source="checkResponse.dataString" language="{{checkResponse.language}}">
              </div>
            </tab>
            <tab heading="Request">
              <table class="table">
                <tr>
                  <td><strong>URL</strong></td>
                  <td>{{checkResponse.config.url}}</td>
                </tr>
                <tr>
                  <td><strong>Method</strong></td>
                  <td>{{checkResponse.config.method}}</td>
                </tr>
                <tr>
                  <td colspan="2"><strong>Headers</strong></td>
                </tr>
                <tr ng-repeat="(key,val) in checkResponse.config.headers">
                  <td><strong>{{key}}</strong></td>
                  <td>{{val}}</td>
                </tr>
              </table>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary pull-right" ng-disabled="checkStep1Form.$invalid">
        <span ng-if="creating">Actions &amp; Settings ></span>
        <span ng-if="!creating">Save</span>
      </button>
    </div>
</div><!-- .col-xs-12 -->