<div>
  <div class="modal-body container-fluid">
    <div ng-repeat="action in item.actions" ng-hide="action.hidden">
      <div class="container-fluid">
        <h2 class="h3">{{action.title}}</h2>
      </div>
      <ul class="list-unstyled">
        <li ng-repeat="childAction in action.actions">
          <button ng-click="run(childAction,item)" class="btn btn-block btn-default btn-flat text-left">
            <svg class="fill-white icon" viewBox="0 0 24 24"><use xlink:href="#ico_alarm_off" /></svg>
            <span>&nbsp;{{childAction.title}}</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>