<div>
  <md-toolbar title="Bastion Installation"></md-toolbar>
  <form class="container" ng-submit="submit()">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="padding-bx2">
          <button type="button" ng-click="launch()" class="btn btn-primary btn-flat btn-block">Install</button>
          <button type="button" ng-click="exampleLaunch()" class="btn btn-primary btn-flat btn-block">Example Install</button>
        </div>

        <div ng-repeat="bastion in bastions" class="padding-bx2">
          <!-- <div ng-repeat="item in bastion.items">
            {{item.name}} - {{item.status}}
          </div> -->
          <div class="progress">
            <div class="progress_bar" ng-class="{complete: bastionsComplete()}" ng-style="{ 'width' : bastion.getPercentComplete() + '%' }"></div>
            <div class="ticks">
              <div class="tick" ng-repeat="o in [1,2,3,4,5,6,7]"></div>
            </div>
          </div>
          <div style="text-align: center;">
            <div ng-if="bastion.status == 'progress'"><img style="height: 24px; width: 24px; margin-right: 12px;" src="/public/img/tailspin_icon.svg" class="status_icon tailspin" alt="loading icon"> Setting up {{bastion.getInProgressItem().name}}</div>
            <div ng-if="bastion.status == 'complete'"><svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_checkmark" /></svg> Complete</div>
          </div>
        </div>

        <button ng-if="bastionsComplete()" type="submit" class="btn btn-raised btn-block btn-primary">Go to Your Dashboard <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_chevron_right" /></svg></button>

<!--         <ul class="md-sll">
          <li ng-if="launched" class="md-sll-item transition-msg">Setting Up... <img style="float: right; height: 32px; width: 32px;" src="/public/img/tailspin_icon.svg" class="status_icon tailspin" alt="loading icon"></li>
          <li ng-repeat="msg in messages" class="md-sll-item transition-msg">{{msg.ResourceType}} <img style="float: right; height: 32px; width: 32px;" src="/public/img/tailspin_icon.svg" class="status_icon tailspin" alt="loading icon"></li>
          <li ng-if="complete" class="md-sll-item transition-msg">Complete!</li>
        </ul> -->
        <!-- <div ng-show="launched && !complete" ng-activity-indicator skip-ng-show="yes"></div> -->
      </div>
    </div>
  </form><!-- .container -->
</div>