<div>
  <div class="md-toolbar md-medium-tall">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <div class="md-toolbar-tools">
            <h1>Your AWS Credentials</h1>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .md-toolbar -->
  <div class="container">
    <div class="row">
      <div class="content-pad col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <p>Entering your credentials allows you to see the progress of the bastion install and scan. They are required, but <strong>we will not store them.</strong></p>
        <form ng-submit="submit()">
          <div class="form-group">
            <div class="input-bg">
              <label>Access Key ID</label>
              <span class="input-error-text">is required</span>
              <input type="password" ng-model="user.aws.accessKey" placeholder="XXXXXXXXXXXXXXXXXXXX" class="form-control has-icon" ng-required="true" ng-pattern="regex.general"/>
              <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_key" /></svg>
            </div>
          </div>
          <div class="form-group">
            <div class="input-bg">
              <label>Secret Key</label>
              <span class="input-error-text">is required</span>
              <input type="password" ng-model="user.aws.secretKey" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" class="form-control has-icon" ng-required="true" ng-pattern="regex.general"/>
              <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_lock" /></svg>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div><!-- .container -->
</div>