<div>
  <div class="md-toolbar md-medium-tall">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <div class="md-toolbar-tools">
            <h1>Your AWS Credentials</h1>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .md-toolbar -->
  <div class="container">
    <div class="row">
      <div class="content-pad col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <p>Entering your credentials allows you to see the progress of the bastion install and scan. They are required, but <strong>we will not store them.</strong></p>
        <form name="credsForm" ng-submit="submit()">
          <div class="form-group">
            <input id="credsKey" name="credsKey" type="password" ng-model="user.aws.accessKey" placeholder="XXXXXXXXXXXXXXXXXXXX" class="form-control has-icon" ng-required="true" ng-pattern="regex.general"/>
            <label>
              <span class="form-label">Access Key ID</span>

              <span ng-messages="credsForm.credsKey.$error">
                <span class="form-message ng-hide" ng-show="credsForm.credsKey.$touched">
                  <span ng-message="required">is required.</span>
                </span>
              </span>
            </label>
            <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_key" /></svg>
          </div>
          <div class="form-group">
            <input id="credsSecret" name="credsSecret" type="password" ng-model="user.aws.secretKey" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" class="form-control has-icon" ng-required="true" ng-pattern="regex.general"/>
            <label>
              <span class="form-label">Secret Key</span>
              <span ng-messages="credsForm.credsSecret.$error">
                <span class="form-message ng-hide" ng-show="credsForm.credsSecret.$touched">
                  <span ng-message="required">is required.</span>
                </span>
              </span>
            </label>
            <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_lock" /></svg>
          </div>

          <button type="submit" class="btn btn-raised btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div><!-- .container -->
</div>

<!--
<div class="form-group" ng-class="{'has-error':checkStep1Form.checkPort.$invalid && checkStep1Form.checkPort.$touched}">
  <input id="checkPort" name="checkPort" type="text" ng-model="check.http.port" class="form-control" placeholder="80" ng-required="true"/>
  <label for="checkPort">
    <span class="form-label">Port</span>
    <span ng-messages="checkStep1Form.checkPort.$error">
      <span class="form-message ng-hide" ng-show="checkStep1Form.checkPort.$touched">
        <span ng-message="required">is required.</span>
      </span>
    </span>
  </label>
</div>
-->