<div>
  <div ng-if="user.token">
    <h2>Set your password</h2>
    <form name="passwordForm" ng-submit="submit()">
      <md-input-container>
        <label>Password</label>
        <input ng-model="user.account.password" type="password" ng-minlength="6" class="form-control floating-label" ng-required="true"/>
      </md-input-container>
      <button class="btn btn-primary" type="submit" ng-disabled="passwordForm.$invalid">Next</button>
    </form>
  </div>
  <div ng-if="!user.token">
    <h2>Error</h2>
    <p>Whoops, something went wrong.</p>
  </div>
</div>