<div>
  <md-toolbar title="Fill Out Your Profile"></md-toolbar>
  <div class="container">
    <div class="content-pad col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
      <form name="profileForm" ng-submit="submit()">
        <user-inputs user="user" includes="name"></user-inputs>
        <slack-auth ng-if="!user.integrations.slack.user"></slack-auth>
        <!-- <slack-test></slack-test> -->
        <profile-img></profile-img>
        <div class="row">
          <div ng-if="user.integrations.slack.user" class="col-xs-12 col-sm-6">
            <h2>From Slack:</h2>
            <div>{{user.integrations.slack.user.profile.real_name_normalized}}</div>
            <div>{{user.integrations.slack.user.profile.title}}</div>
          </div>
  <!--         <div ng-if="user.account.email || user.email" class="col-xs-12 col-sm-6">
            <h2>Gravatar</h2>
            <img gravatar-src="user.account.email || user.email" gravatar-size="100">
          </div> -->
        </div>
        <div><br/><br/></div>
        <button class="btn btn-primary" type="submit" ng-disabled="profileForm.$invalid">Next</button>
      </form>
    </div>
  </div><!-- .container -->
</div>