<div>
  <md-toolbar title="Launch the Opsee Bastion Host">
  </md-toolbar>
  <div class="container">
    <div class="row">
      <div class="content-pad col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <form name="regionSelectForm" ng-submit="submit()">
          <div ng-repeat="region in regions">
            <input checkbox-toggle type="checkbox" ng-model="region.selected" id="{{::region.id}}" ng-required="requiredSelection()" class="sr-only">
            <toggle-switch ng-model="region.selected"></toggle-switch>
            <label for="{{::region.id}}">{{::region.name}} - {{::region.id}}</label>
          </div>
          <button type="button" class="btn btn-default btn-sm" ng-click="selectAll()">Select All</button>
          <button class="btn btn-raised btn-success btn-block" type="submit" ng-disabled="regionSelectForm.$invalid">Next</button>
        </form>
      </div>
    </div>
  </div><!-- .container -->
</div>