<div>
  <md-toolbar title="Create Your Account"></md-toolbar>
  <div class="container" ng-cloak>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <form name="signupForm" ng-submit="submit()" user-signup novalidate>
          <user-inputs include="name,email"></user-inputs>
          <button ng-disabled="state == options.inProgress || signupForm.$invalid" type="submit" class="btn btn-success btn-raised btn-block" disabled="disabled">
            <span>{{state}}</span>
            <span class="ng-hide" ng-show="state == options.inProgress">A spinner</span>
          </button>
        </form>
        <div class="padding-tb">
          <div><br/></div>
          <a class="btn btn-flat btn-default" href="/login">Need to Login?</a>
        </div>
      </div>
    </div>
  </div><!-- .container -->
</div>