<div>
  <div class="md-toolbar md-medium-tall">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <div class="md-toolbar-tools">
            <h1>Create your team</h1>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .md-toolbar -->
  <div class="container">
    <div class="row">
      <div class="content-pad col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <form name="teamForm" ng-submit="submit()">

          <div class="form-group display-flex flex-wrap">
            <input id="teamName" name="teamName" type="text" ng-model="user.account.team_name" placeholder="Initech" class="form-control flex-order-1" ng-required="true" ng-minlength="3"/>
            <label for="teamName">
              <span class="form-label">Team Name</span>
              <span ng-messages="teamForm.teamName.$error">
                <span class="ng-hide" ng-show="teamForm.teamName.$touched">
                  <span class="form-message" ng-message="required">is required.</span>
                </span>
              </span>
            </label>
          </div>
          <div class="help-block">This name will appear in headings and menus to identify your team. Your company name is probably a good choice, but it doesn't need to be official or anything.</div>

          <div class="form-group display-flex flex-wrap">
            <input id="teamDomain" name="teamDomain" type="text" ng-model="user.account.customer_id" placeholder="initech[.opsee.co]" class="form-control flex-1 flex-order-2" ng-required="true" ng-pattern="regex.subdomain" name="domain" ng-model-options="{debounce:300}" domain-available/>
            <div class="form-subdomain flex-order-3">.opsee.co</div>
            <label class="flex-order-1 flex-1" for="teamDomain" for="domain" style="min-width: 100%;">
              <span class="form-label">Team Domain</span>
              <span ng-messages="teamForm.teamDomain.$error">
                <span class="ng-hide" ng-show="teamForm.teamDomain.$touched">
                  <span ng-message="required" class="form-message">is required.</span>
                  <span ng-message="pattern" class="form-message">is not valid.</span>
                  <span ng-message="available" class="form-message">is not available.</span>
                </span>
              </span>
            </label>
          </div>
          <div class="help-block">The web address you'll use to access your team's account. Keep it short and memorable. Only lowercase letters, numbers, and dashes are allowed, and it must start with a letter.</div>

          <button class="btn btn-raised btn-success btn-block" type="submit" ng-disabled="teamForm.$invalid">Next</button>
        </form>
      </div>
    </div>
  </div><!-- .container -->
</div>