<div class="step-container" ng-class="{active:$state.is('onboard.tutorial.2')}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <img class="step-image" src="/public/img/tut-02.svg" alt="valid">
      </div>
    </div>
  </div>
  <div class="step-title">
    <div class="container">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>We scan your environment</h2>
        <p>Once it's up and running, the bastion software will scan AWS for the services you have running.</p>

        <!-- <a class="btn btn-success btn-block btn-raised" ng-hide="activeTutorialStep == tutorialSteps.length-1" href="#" ng-click="$state.go(btn.link)">
          {{btn.text}} <svg class="btn-icon" viewBox="0 0 24 24"><use xlink:href="#ico_chevron_right" /></svg>
        </a> -->

      </div>
    </div>
  </div>
</div>