<div class="step-container" ng-class="{active:$state.is('onboard.tutorial.1')}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <img class="step-image" src="{{step.img}}" alt="valid">
      </div>
    </div>
  </div>
  <div class="step-title">
    <div class="container">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>The Opsee Bastion Host</h2>
        <p>Checks get run from the bastion host, which is deployed into your VPC.  The bastion is the middleman between you and Opsee, protecting your AWS creds and user data from ever leaving your control.</p>

        <!-- <a class="btn btn-success btn-block btn-raised" ng-hide="activeTutorialStep == tutorialSteps.length-1" href="#" ng-click="$state.go(btn.link)">
          {{btn.text}} <svg class="btn-icon" viewBox="0 0 24 24"><use xlink:href="#ico_chevron_right" /></svg>
        </a> -->

      </div>
    </div>
  </div>
</div>