<div class="step-container" ng-class="{active:$state.is('onboard.tutorial.3')}">
  <div class="container">
    <div class="row">
      <div class="content-pad col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <img class="step-image" src="{{step.img}}" alt="valid">
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <h2>Create health checks easily</h2>
          <p>Lastly, we’ll help you set up some health checks. Just tell us which groups to monitor, what protocol to talk, and the details about what's to be considered a healthy response.  We'll take care of everything else.</p>
        </div>
      </div>
    </div>
  </div>
</div>