<div class="step-container" ng-class="{active:$state.is('onboard.tutorial.3')}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <img class="step-image" src="/public/img/tut-03.svg" alt="valid">
      </div>
    </div>
  </div>
  <div class="step-title">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <h2>Create health checks easily</h2>
          <p>Lastly, we’ll help you set up some health checks. Just tell us which groups to monitor, what protocol to talk, and the details about what's to be considered a healthy response.  We'll take care of everything else.</p>

          <!-- <a class="btn btn-success btn-block btn-raised" ng-hide="activeTutorialStep == tutorialSteps.length-1" href="#" ng-click="$state.go(btn.link)">
            {{btn.text}} <svg class="btn-icon" viewBox="0 0 24 24"><use xlink:href="#ico_chevron_right" /></svg>
          </a> -->

        </div>
      </div>
    </div>
  </div>
</div>