<div>
  <md-toolbar title="Select VPCs"></md-toolbar>
  <div class="container">
    <div class="row">
      <div class="content-pad col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <form name="regionSelectForm" ng-submit="submit()" ng-show="!msg" class="ng-hide">
          <div ng-repeat="region in regions">
            <h2>{{region.region}} ({{region.regionName}})</h2>

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th></th>
                  <th>State</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="vpc in region.vpcs">
                  <td>
                    <input type="checkbox" ng-model="vpc.selected" id="{{vpc['vpc-id']}}" ng-required="requiredSelection()">
                  </td>
                  <td>{{vpc.state}}</td>
                  <td><label for="{{vpc['vpc-id']}}">{{vpc['vpc-id']}}</label></td>
                </tr>
              </tbody>
            </table>
          </div>


          <div class="btn-container btn-container-fixed btn-container-bordered-top btn-container-righty">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                  <button type="button" class="btn btn-flat pull-left" ng-click="selectAll()">Select All</button>
                  <button class="btn btn-flat btn-success" type="submit" ng-disabled="regionSelectForm.$invalid">Next <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_chevron_right" /></svg></button>
                </div>
              </div>
            </div>
          </div>

        </form>
        <div ng-show="msg && msg == 'loading'" class="ng-hide">
          Finding VPCs....
        </div>
      </div>
    </div>
  </div><!-- .container -->
</div>