<div>
  <md-toolbar title="Install Bastions in VPCs"></md-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <form name="regionSelectForm" ng-submit="submit()" ng-if="user.info.regionsWithVpcs.length">
          <p>Here are the active VPCs Opsee found in the regions you chose. Choose which VPCs you'd like to install bastions in.</p>
          <h2 class="h3">Your active VPCs - <a href="#" ng-click="selectAll()">Select All</a></h2>
          <div ng-repeat="region in user.info.regionsWithVpcs">
            <h2 class="h3">{{region.region}} ({{region.regionName}})</h2>
            <ul class="md-sll">
              <li ng-repeat="vpc in region.vpcs" class="md-sll-item display-flex flex-wrap">
                <div class="md-sll-select">
                  <toggle-switch ng-model="vpc.selected" ng-required="requiredSelection()"></toggle-switch>
                </div>
                <div class="md-sll-title flex-1">
                  <label ng-click="vpc.selected = !vpc.selected">{{vpc['vpc-id']}} ({{vpc.state}})</label>
                </div>
              </li>
            </ul>
          </div>

          <div class="btn-container btn-container-fixed btn-container-bordered-top btn-container-righty">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                  <button class="btn btn-flat btn-success" type="submit" ng-disabled="regionSelectForm.$invalid">Install bastions <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_chevron_right" /></svg></button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div ng-if="!user.info.regionsWithVpcs.length">
          Bad credentials or no VPCs to choose from.
        </div>
      </div>
    </div>
  </div><!-- .container -->
</div>