<div class="container">
  <h2 class="md-subheader md-subheader-has-avatars">
    <span class="md-subheader-content">Unmonitored (3)</span>
  </h2>
  <ul class="md-list md-list-two-line md-list-has-avatars">
    <li class="md-list-item">
      <div class="md-list-line">Test</div>
      <div class="md-list-line">Test</div>
      <div class="md-list-avatar"></div>
    </li>
    <li class="md-list-item">
      <div class="md-list-line">Test</div>
      <div class="md-list-line">Test</div>
      <div class="md-list-avatar"></div>
    </li>
    <li class="md-list-item">
      <div class="md-list-line">Test</div>
      <div class="md-list-line">Test</div>
      <div class="md-list-avatar"></div>
    </li>
  </ul>

</div><!-- .container -->
