<md-toolbar title="Opsee Styleguide">
  <a class="btn btn-success btn-fab" title="Primary Action" tooltip="Create a Check" tooltip-placement="left">
    <svg class="btn-fab-icon"><use xlink:href="#ico_add" /></svg>
  </a>
</md-toolbar>

<div class="environment-tabs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <ul class="nav nav-tabs" ng-init="active = 0;">
          <li role="presentation" ng-class="{active:active === 0}">
            <a href="#" ng-click="active = 0">Tab 1</a>
          </li>
          <li role="presentation" ng-class="{active:active === 1}">
            <a href="#" ng-click="active = 1">Tab 2</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div><br/></div>
    <div class="clearfix">
      <div ng-repeat="o in ['brand-primary','brand-success','brand-info','brand-warning','brand-danger']" class="clearfix">
        <div class="bg-{{o}} pull-left" style="width:45px;height:45px;"></div>
        <div class="padding pull-left">{{o}}</div>
      </div>
    </div>
    <h1>Header Level 1: Instance Passing, Started Three Hours</h1>
    <h2>Header Level 2: Resource Restarted, Checking Availability</h2>
    <h3>Header Level 3: Check Currently Unmonitored</h3>

    <hr>

    <h2 class="md-subheader md-subheader-has-avatars">
      <span class="md-subheader-content">Subheader - List with icons</span>
    </h2>

    <ul class="md-list md-list-two-line">
      <li class="md-list-item" ng-repeat="check in checks">
        <check-item check="check"></check-item>
      </li>
    </ul>

    <hr>

    <h2 class="md-subheader">
      <span class="md-subheader-content">Subheader - List without icons</span>
    </h2>

    <ul class="md-list md-list-two-line">
      <li class="md-list-item" ng-repeat="a in [1,2,3,4]">
        <div class="row">
          <div class="col-xs-12 display-flex vertical-align">
            <div class="flex-1 display-flex vertical-align md-list-link">
              <div>
                <div class="md-list-line">List Line 1</div>
                <div class="md-list-line">List Line 2</div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <hr>

    <h3>Data Tables</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Head1</th>
          <th>Head1</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Col 1</td>
          <td>Col 2</td>
        </tr>
        <tr>
          <td>Col 1</td>
          <td>Col 2</td>
        </tr>
        <tr>
          <td>Col 1</td>
          <td>Col 2</td>
        </tr>
      </tbody>
    </table>

    <hr>

    <h3>Forms</h3>

    <form name="testform" id="testform">
      <div class="form-group display-flex flex-wrap">
        <input id="testinput1" name="testinput1" type="text" ng-model="user.account.team_name" placeholder="input placeholder" class="form-control flex-order-1" ng-required="true" ng-minlength="3"/>
        <label for="testinput1">
          <span class="form-label">Text Input Label</span>
          <span ng-messages="testform.testinput1.$error">
            <span class="ng-hide" ng-show="testform.testinput1.$touched">
              <span class="form-message" ng-message="required">and error message.</span>
            </span>
          </span>
        </label>
      </div>

      <div class="form-group display-flex flex-wrap">
        <input id="testinput2" name="testinput2" type="email" placeholder="email@domain.com" class="form-control has-icon flex-order-1" ng-required="true" ng-pattern="regex.email"/>
        <label for="testinput2">
          <span class="form-label">Email (w/icon)</span>
          <span ng-messages="testform.testinput2.$error">
            <span class="form-message ng-hide" ng-show="testform.testinput2.$touched">
              <span ng-message="required">is required.</span>
            </span>
          </span>
        </label>
        <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_mail" /></svg>
      </div>

      <div class="form-group">
        <div dropdown>
          <select id="test-group" class="sr-only" ng-required="true"></select>
          <button type="button" class="btn btn-block dropdown-toggle" dropdown-toggle>{{dropdownSelected || 'Select'}}<svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_caret_down" /></svg>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="o in [1,2,3]">
              <button type="button" class="btn" dropdown-toggle ng-click="selectDropdown(o)">Option {{o}}</button>
              </li>
          </ul>
        </div>
      </div>

      <h3>Buttons</h3>

      <div class="padding-bx2">
        <button class="btn btn-raised btn-primary" type="submit">Primary</button>
        <button class="btn btn-raised btn-success" type="submit">Success</button>
        <button class="btn btn-raised btn-danger" type="submit">Danger</button>
        <button class="btn btn-raised btn-default" type="submit">Default</button>
        <button class="btn btn-raised btn-success" type="submit" ng-disabled="testform.$invalid">Disabled</button>
        <div><br/></div>
        <button class="btn btn-raised btn-default btn-block" type="submit">Block</button>
      </div>

      <div class="padding-bx2">
        <button class="btn btn-flat btn-primary" type="submit">Flat Primary</button>
        <button class="btn btn-flat btn-success" type="submit">Flat Success</button>
        <button class="btn btn-flat btn-danger" type="submit">Flat Danger</button>
        <button class="btn btn-flat btn-success" type="submit" ng-disabled="testform.$invalid">Disabled Flat</button>
      </div>
    </form>

    <h3>Loading State</h3>
    <div opsee-loader></div>

    <h3>Notifcations</h3>
    <button class="btn btn-primary" ng-click="notify()">Global Notification</button>
  </div>
</div><!-- .container -->
