#header{
  position: fixed;
  z-index: 10;
  bottom:0;
  left:0;
  width:100%;
  @include transition(all $swift-ease-in-out-duration $swift-ease-in-out-timing-function);
  @include transition-delay(all $swift-ease-in-out-duration);
  &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active{
    @include transform(translateY(-100px));
    opacity:0;
  }
  &.ng-hide-remove-active, &.ng-hide-add{
    @include transform(none);
    opacity:1;
  }
  @include breakpoint($screen-sm) {
    bottom:auto;
    top:0;
  }
}
.md-navbar {
  @extend .md-shadow-bottom-z-2;
  background-color: $blue-gray-800;
  bottom: 0;
  margin: 0;
  width: 100%;
  @include breakpoint($screen-sm) {
    .md-navbar-item {
      width: auto;
    }
    .md-navbar-icon {
      display: inline-block;
      height: 18px;
      vertical-align: text-bottom;
      width: 18px;
    }
    .md-navbar-link {
      font-size: 1em;
      padding: 1em 2em 0.5em 0;
      text-align: left;
    }
    .md-navbar-title {
      display: inline;
    }
  }
}
.md-navbar-icon {
  @include transition(fill $swift-ease-out-duration $swift-ease-out-timing-function);
  display: block;
  fill: $text-color-secondary;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}
.md-navbar-list {
  margin: 0 0;
  padding: 0 0;
}
.md-navbar-item {
  display: inline-block;
  width: 25%;
}
.md-navbar-title {
  display: block;
  margin-top: 0.25em;
}
.md-navbar-link {
  @include transition(color $swift-ease-out-duration $swift-ease-out-timing-function);
  color: $text-color-secondary;
  display: block;
  font-size: 0.75em;
  overflow: hidden;
  padding: 0.5em 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover, &:active, &:focus {
    color: $text-color;
    background-color: transparent !important;
    text-decoration: none;
    .md-navbar-icon {
      fill: $text-color;
    }
  }
  &:active, &.active, &:active .md-navbar-icon {
    color: $brand-primary;
    fill: $brand-primary;
  }
  &.active .md-navbar-icon {
    fill: $text-color-secondary;
  }
}