.md-navbar {
  @extend .md-shadow-bottom-z-2;
  background-color: $blue-gray-800;
  bottom: 0;
  margin: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  // @include breakpoint($screen-sm) {
  //   position: static;
  //   bottom: auto;
  // }
}
.md-navbar-icon {
  @include transition(fill $swift-ease-out-duration $swift-ease-out-timing-function);
  display: block;
  fill: $text-color-secondary;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}
.md-navbar-list {
  margin: 0 0;
  padding: 0 0;
}
.md-navbar-item {
  display: inline-block;
  width: 25%;
}
.md-navbar-title {
  display: block;
  margin-top: 0.25em;
}
.md-navbar-link {
  @include transition(color $swift-ease-out-duration $swift-ease-out-timing-function);
  color: $text-color-secondary;
  display: block;
  font-size: 0.75em;
  overflow: hidden;
  padding: 0.5em 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover, &:active, &:focus {
    color: $text-color;
    background-color: transparent !important;
    text-decoration: none;
    .md-navbar-icon {
      fill: $text-color;
    }
  }
  &:active, &:active .md-navbar-icon {
    color: $brand-primary;
    fill: $brand-primary;
  }
  .icon {
    fill: $text-color-secondary;
  }
}