<div>
  <div class="md-toolbar md-medium-tall">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <div class="md-toolbar-tools">
            <h1>Signups</h1>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .md-toolbar -->
  <div class="container">
    <div class="row">
      <div class="content-pad col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

        <div ng-repeat="signup in signups | orderBy:'-created_at'" class="col-xs-12 col-sm-6">
          <div class="md-card">
            <div class="md-card-content">
              <h2>{{::signup.name}}</h2>
              <div>
                <div><a href="mailto:{{::signup.email}}">{{::signup.email}}</a></div>
                <span>#{{::signup.id}} - {{::signup.created_at | date:'mediumDate'}}</span>
              </div>
            </div>
            <div class="md-actions">
              <button type="button" class="btn btn-flat btn-primary pull-right" ng-click="activateSignup(signup.email)">
                  <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_add" /></svg> Activate User
                </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div><!-- .container -->
</div>