<div>
  <md-toolbar></md-toolbar>
  <div class="container">

    <div class="row" ng-repeat="category in ['unapproved','approved','users']">
      <h2>{{category | capitalize}}</h2>
      <div ng-repeat="signup in groups[category]" class="col-xs-12 col-sm-6 padding-tb">
        <div class="bg-gray-900 md-shadow-bottom-z-1">
          <div class="padding">
            <h2 class="margin-none">
              {{::signup.name}}
              <svg ng-if="signup.activation_used" class="success fill-success" viewBox="0 0 24 24" width="22"><use xlink:href="#ico_checkmark"/></svg>
            </h2>
            <div>
              <div><a href="mailto:{{::signup.email}}">{{::signup.email}}</a></div>
              <span>#{{::signup.id}} - {{::signup.created_at | date:'mediumDate'}}</span>
            </div>
          </div>
          <div>
            <button ng-if="!signup.activation_id" type="button" class="btn btn-flat btn-primary" ng-click="activateSignup(signup.email)">Activate User</button>
          </div>
        </div>
      </div>
    </div>

  </div><!-- .container -->
</div>