<div class="row">
  <div class="col-xs-12 display-flex flex-vertical-align">
    <a href="/check/{{check.id}}" class="flex-1 display-flex flex-vertical-align link-style-1">
      <div radial-graph item="check"></div>
      <div class="padding-tb line-height-1">
        <div>{{check.name}}</div>
        <div class="text-secondary" ng-if="check.getInfo()">{{check.getInfo()}}</div>
        <div class="text-secondary" ng-if="!check.getInfo()">
          Last checked <span am-time-ago="check.lastChecked"></span>.
        </div>
      </div>
    </a>
    <button type="button" class="btn btn-icon btn-flat" ng-click="check.menu('silence')" title="Silence check">
      <svg class="btn-fab-icon" viewBox="0 0 24 24"><use xlink:href="#ico_alarm_off"/></svg>
    </button>
  </div>
</div>