<form name="checkStep2Form" ng-submit="forward(3)">
<h2>Add Assertions</h2>
<p>Define the conditions required for this check to pass. Your response and request are shown for context. You must have at least one assertion per check.</p>
<br />

<div ng-repeat="assertion in check.assertions">
  <div class="row">
    <div class="col-xs-2"><div class="assertion-counter" ng-class="{success: assertionPassing($index).success, danger: !assertionPassing($index).success && assertion.relationship}">
      {{$index+1}}
      <div class="assertion-validation" ng-class="{active: assertion.relationship}">
        <svg class="assertion-icon success" ng-show="assertionPassing($index).success" class="" viewBox="0 0 24 24"><use xlink:href="#ico_checkmark" /></svg>
        <svg class="assertion-icon danger" ng-show="!assertionPassing($index).success" class="" viewBox="0 0 24 24"><use xlink:href="#ico_close" /></svg>
      </div>
    </div></div>
    <div class="col-xs-10 col-sm-4">
      <div class="form-group" dropdown is-open="status['assertionType'+$index]">
        <select class="sr-only" ng-required="true" ng-model="check.assertions[$index].key" ng-options="r for r in assertionTypes"></select>
        <button type="button" class="btn btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled" title="{{assertion.type.title || 'Pick your assertion type.'}}">
          {{assertionById(assertion.key).name || 'Type'}} <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_caret_down" /></svg>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="type in assertionTypes">
            <button class="btn" ng-click="changeAssertionType(type,$parent.$index)" title="{{type.title}}" dropdown-toggle>
              {{type.name}}
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-0">
      <div class="form-group" dropdown is-open="status['assertionRelationship'+$index]">
        <select class="sr-only" ng-required="true" ng-model="assertion.relationship" ng-options="r as r.name for r in relationships track by r.id"></select>
        <button type="button" class="btn btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled" title="{{assertion.relationship || 'Pick your relationship'}}">
          {{relationshipById(assertion.relationship).name || 'Relationship'}} <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_caret_down" /></svg>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="relationship in relationships">
            <button type="button" class="btn" ng-click="changeAssertionRelationship(relationship,assertion)" title="{{relationship.title}}" dropdown-toggle>
              {{relationship.name}}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div ng-if="assertion.relationship && assertion.key == 'body'">
      <div class="col-xs-10 col-xs-offset-2">
        <div class="form-group display-flex flex-wrap">
          <input id="responseBodyValue" name="responseBodyValue" type="text" ng-model="assertion.operand" placeholder="Value" class="form-control flex-order-1" ng-required="true" ng-hide="relationshipIsEmpty(assertion.relationship)"/>
          <label for="responseBodyValue">Value</label>
        </div>
      </div>
    </div>
    <div ng-if="assertion.relationship && assertion.key == 'header'">
      <div class="col-xs-4 col-xs-offset-2">
        <div class="form-group display-flex flex-wrap">
          <input id="responseBodyHeaderKey" name="responseBodyHeaderKey" type="text" ng-model="assertion.value" typeahead="h for h in headerKeys | filter:$viewValue" class="form-control flex-order-1" placeholder="Key">
          <label for="responseBodyHeaderKey">Key</label>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group display-flex flex-wrap" ng-hide="relationshipIsEmpty(assertion.relationship)">
          <input id="responseBodyHeaderVal" name="responseBodyHeaderVal" type="text" ng-model="assertion.operand" typeahead="h for h in headerValues | filter:$viewValue" class="form-control flex-order-1" placeholder="Value">
          <label for="responseBodyHeaderVal">Value</label>
        </div>
      </div>
    </div>
    <div ng-if="assertion.relationship && assertion.key == 'statusCode'" ng-hide="relationshipIsEmpty(assertion.relationship)">
      <div class="col-xs-10 col-xs-offset-2">
        <div class="form-group display-flex flex-wrap">
          <input id="responseBodyCode" name="responseBodyCode" type="text" ng-model="assertion.operand" typeahead="c.code as c.code for c in codes | filter:$viewValue" class="form-control flex-order-1" placeholder="e.g. 200" ng-required="true">
          <label for="responseBodyCode">Code</label>
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-2">
      <button type="button" class="btn btn-flat btn-nopad btn-danger" ng-click="check.removeItem('assertions',$index,'Remove this assertion?')" ng-hide="$index === 0" analytics-on analytics-event="assertion-remove" analytics-category="Checks"><svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_delete" /></svg> Remove</button>
    </div>
  </div>
  <br />
</div>

<div class="row">
  <div class="col-xs-12 padding-bx2">
    <button type="button" class="btn btn-flat btn-nopad btn-primary" ng-click="check.addItem('assertions')" analytics-on analytics-event="assertion-add" analytics-category="Checks"><svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_add" /></svg> Add Another Assertion</button>
  </div>
</div>

  <div class="row">
    <div class="col-xs-12">

      <h2>Your Response & Request</h2>
      <p>We're including the content of your response and your request to help you define assertions.</p>
      <br/>

      <tabset>
        <tab heading="Headers">
          <br>
          <table class="table">
            <tr ng-repeat="(key, val) in checkResponse.headers">
              <td><strong><code>{{key}}</code></strong></h4></td>
              <td><code>{{val}}</code></td>
            </tr>
          </table>
        </tab>
        <tab heading="Body">
          <br>
          <div hljs source="checkResponse.dataString" language="{{checkResponse.language}}">
          </div>
        </tab>
        <tab heading="Request">
          <br>
          <table class="table">
            <tr>
              <td><strong><code>URL</code></strong></td>
              <td><code>{{checkResponse.config.url}}</code></td>
            </tr>
            <tr>
              <td><strong><code>Method</code></strong></td>
              <td><code>{{checkResponse.config.method}}</code></td>
            </tr>
            <tr>
              <td><strong><code>Status Code</code></strong></td>
              <td><code>{{checkResponse.status}} - {{checkResponse.statusText}}</code></td>
            </tr>
            <tr ng-repeat="(key,val) in checkResponse.config.headers">
              <td><strong><code>{{key}}</code></strong></td>
              <td><code>{{val}}</code></td>
            </tr>
          </table>
        </tab>
      </tabset>
    </div>
  </div>

  <div ng-if="info">
    <div class="btn-container btn-container-fixed btn-container-bordered-top btn-container-righty">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <a href="/check-create/step-3" class="btn btn-flat btn-success" ng-disabled="checkStep2Form.$invalid">
              <span>Next: Actions &amp; Settings <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_chevron_right" /></svg></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>