<div class="md-toolbar md-medium-tall">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h1><button class="btn btn-icon" ng-click="close()"><svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_close" /></svg></button> Create Check: Step {{checkStep}} of 3</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <check-inputs check="check" check-step="1"></check-inputs>
    </div>
  </div>
</div>