<div>
  <div class="md-toolbar md-tall">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <div class="md-toolbar-tools">
            <h1 class="">{{::check.name}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <a ui-sref="checkEdit({id:check.id})" class="btn btn-primary btn-fab btn-fab-bottom-right-toolbar"><svg class="btn-fab-icon" viewBox="0 0 24 24"><use xlink:href="#ico_edit" /></svg></a>

        <h2>Check Information</h2>

        <table class="table">
          <tr ng-repeat="meta in check.meta">
            <td><strong>{{meta.key}}</strong></td>
            <td>{{meta.value}}</td>
          </tr>
        </table>

        <h2>Check Instances</h2>

        <ul class="md-list md-list-two-line">
          <li ng-repeat="instance in check.instances" class="md-list-item">
            <instance-item instance="instance"></instance-item>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
