<div class="bg-body" style="position:relative">
  <md-toolbar title="{{::check.name}}">
    <button ng-click="edit()" class="btn btn-primary btn-fab" title="Edit {{::check.name}}">
      <svg class="btn-fab-icon" viewBox="0 0 24 24"><use xlink:href="#ico_edit" /></svg>
    </button>
  </md-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <h2>Check Information</h2>

        <table class="table">
          <tbody>
            <tr ng-repeat="meta in check.meta">
              <td><strong>{{meta.key}}</strong></td>
              <td>{{meta.value}}</td>
            </tr>
          </tbody>
        </table>

        <h2>Check Instances</h2>

        <ul class="list-unstyled">
          <li ng-repeat="instance in check.instances">
            <instance-item instance="instance"></instance-item>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
