$graphWidth:40px;
.radial-graph{
    background-color: black;
    border-radius:100%;
    color:$body-bg;
    // font-size: 0.875rem;
    font-weight: 500;
    position: absolute;
    height: $graphWidth;
    width: $graphWidth;
    &.running{
      background-color:$red-500;
      .radial-graph-inner{
        background:$green-300;
        &.failing{
          background:$red-500;
        }
      }
      .loader {
        fill:$green-300;
      }
    }
    &.stopped{
      background-color:$gray-700;
      .radial-graph-inner{
        background-color:$gray-700;
        border:0;
      }
      .loader{
        fill:$gray-700;
      }
    }
    &.unmonitored{
      background-color:$yellow-800;
      .radial-graph-inner{
        background-color:$yellow-800;
        border:0;
      }
      .loader{
        fill:$yellow-800;
      }
    }
    &.silenced{
      background-color:$blue-600;
      .radial-graph-inner{
        background-color:$blue-600;
      }
      .loader{
        fill:$blue-300;
      }
    }
    svg{
      width: $graphWidth;
      height: $graphWidth;
      overflow:hidden;
    }
  }
  .radial-graph-inner {
    $innerWidth:$graphWidth - 4px;
    background-color: transparent;
    border-radius:100%;
    border:3px solid $body-bg;
    height: $innerWidth;
    width: $innerWidth;
    left:50%;
    top:50%;
    margin-top:-($innerWidth / 2);
    margin-left:-($innerWidth / 2);
    line-height: $innerWidth - 6px;
    position: absolute;
    text-align: center;
  }