<div class="display-flex vertical-align">
  <a href="/group/{{group.id}}" class="flex-1 display-flex vertical-align md-list-link" title="Go to this Group">
    <div radial-graph item="group"></div>
    <div class="padding-tb line-height-1">
      <div>{{group.name || group.id}}</div>
      <div class="text-secondary">{{group.getInfo()}}</div>
    </div>
  </a>
  <button type="button" class="btn btn-icon btn-flat" ng-click="group.menu()" title="Menu">
    <svg class="btn-fab-icon" viewBox="0 0 24 24"><use xlink:href="#ico_alarm_off"/></svg>
  </button>
</div>