<form name="checkStep1Form" class="ng-hide" ng-show="!checkStep || checkStep == 1" ng-submit="forward(2)">
<h2>Choose a Group to Check</h2>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group display-flex flex-wrap" dropdown is-open="groupDropdownOpen">
        <select id="check-group" class="sr-only" ng-required="true" ng-model="check.group" ng-options="g for g in groups"></select>
        <button type="button" class="btn btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled">
          {{check.group.name || '- Group -'}} <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_caret_down" /></svg>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="g in groups">
            <button ng-click="check.group = g;" class="btn" dropdown-toggle>
              {{g.name}}
            </button>
          </li>
        </ul>
    </div>
  </div>
</div>

<h2>Define a Request</h2>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group display-flex flex-wrap" dropdown>
      <select id="check-protocol" class="sr-only" ng-required="true" ng-model="check.protocol" ng-options="p for p in protocols"></select>
      <button type="button" class="btn btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        {{check.protocol || '- Protocol -'}} <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_caret_down" /></svg>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="p in protocols">
          <button ng-click="check.protocol = p"  class="btn" dropdown-toggle>
            {{p}}
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group display-flex flex-wrap" ng-class="{'has-error':checkStep1Form.checkPort.$invalid && checkStep1Form.checkPort.$touched}">
          <input id="checkPort" name="checkPort" type="text" ng-model="check.port" class="form-control flex-order-1" placeholder="e.g. 80" ng-required="true"/>
          <label for="checkPort">
            <span class="form-label">Port</span>
            <default-messages ng-model="checkStep1Form.checkPort"></default-messages>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="form-group display-flex flex-wrap" dropdown>
      <select id="check-method" class="sr-only" ng-required="true" ng-model="check.method" ng-options="v for v in methods"></select>
      <button type="button" class="btn btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        {{check.method || '- Method -'}} <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_caret_down" /></svg>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="m in methods">
          <button ng-click="check.method = m" class="btn" dropdown-toggle>
            {{m}}
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="form-group display-flex flex-wrap" ng-class="{'has-error':checkStep1Form.checkPath.$invalid}">
      <input id="checkPath" class="form-control flex-order-1" name="checkPath" type="text" ng-model="check.path" placeholder="e.g. /healthcheck" ng-required="true"/>
      <label class="flex-1" for="checkPath">
        <span class="form-label">Path</span>
        <default-messages ng-model="checkStep1Form.checkPath"></default-messages>
      </label>
    </div>
  </div>
</div>

<h2>Add Headers</h2>
<div class="row">
  <div ng-repeat="auth in check.headers">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h3>Header {{$index+1}}</h3>
        </div>
      </div>
    </div>
    <div class="display-flex">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group display-flex flex-wrap">
              <input id="check-header-key-{{$index}}" type="text" ng-model="check.headers[$index].key" class="form-control has-icon flex-order-1" placeholder="Key" ng-required="true"/>
              <label for="check-header-key-{{$index}}">Key</label>
              <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_key" /></svg>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group display-flex flex-wrap">
              <input id="check-header-value-{{$index}}" class="form-control flex-order-1" type="text" ng-model="check.headers[$index].value" placeholder="Value" ng-required="true"/>
              <label for="check-header-value-{{$index}}">Value</label>
            </div>
          </div>
        </div>
      </div>
      <div class="padding-lr">
        <button type="button" class="btn btn-icon btn-flat" ng-click="check.removeItem('headers', $index)" title="Remove this Header">
          <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_close" /></svg>
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <button type="button" class="btn btn-flat btn-nopad btn-primary" ng-click="check.addItem('headers')"><svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_add" /></svg> Add a Header</button>
  </div>
</div>

<div ng-if="info">
  <div class="btn-container btn-container-fixed btn-container-bordered-top btn-container-righty">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <a href="/check-create/step-2" class="btn btn-flat btn-success" ng-disabled="checkStep1Form.$invalid">
            <span>Next: Test This Request <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_chevron_right" /></svg></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

</form>