<form name="checkStep3Form">

  <h2>Check Name &amp; Message</h2>

  <div class="form-group display-flex flex-wrap">
    <input id="checkName" name="checkName" type="text" ng-model="check.name" class="form-control flex-order-1" placeholder="e.g. HTTP Health Check" ng-required="true"/>
    <label for="checkName">Check Name</label>
  </div>

  <div class="form-group display-flex flex-wrap">
    <textarea id="checkMsg" name="checkMsg" ng-model="check.message" class="form-control flex-order-1" placeholder="e.g. Status should be returning 200" ng-required="true"></textarea>
    <label for="checkMsg">Message</label>
  </div>
  <div class="text-sm text-secondary padding-b">
    <em>This will appear in the notification to help recipients.</em>
  </div>

  <div class="padding-tb">
    <h2>Check Interval</h2>
    <div class="btn-group">
      <select class="sr-only" ng-required="true" ng-model="check.interval" ng-options="i for i in intervals"></select>
      <button type="button" class="btn" ng-click="check.interval = int" ng-repeat="int in intervals" ng-class="{'btn-primary':check.interval.name == int.name, 'btn-default':check.interval.name != int.name}">
        {{int.name}}
      </button>
    </div>
  </div>

<div class="padding-tb">
  <h2>Notifications</h2>
  <div ng-repeat="notif in check.notifications" class="row">
    <div class="col-xs-12">
      <h3>Notification {{$index+1}}</h3>
    </div>
    <div class="col-xs-12">
      <div class="row">
        <notification-item></notification-item>
      </div>
    </div>
  </div>

  <div class="padding-bx2">
    <button type="button" class="btn btn-flat btn-nopad btn-primary" ng-click="check.addItem('notifications')"><svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_add" /></svg> Add another Notification</button>
  </div>

  <!-- <div class="clearfix padding-tb">
    <button type="button" class="btn btn-primary" ng-click="testNotif()">Test Desktop Notif</button>
  </div> -->

  <div ng-if="info">
    <div class="btn-container btn-container-fixed btn-container-bordered-top btn-container-righty">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <button type="button" ng-click="save()" class="btn btn-flat btn-success" ng-disabled="checkStep3Form.$invalid">
              <span>Finish <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_checkmark" /></svg></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</form>