<div>
  <div class="form-group" ng-if="!onboarding">
    <div class="input-bg">
      <label for="user-email">Email</label>
      <span class="input-error-text small">is not valid</span>
      <input id="user-email" type="email" ng-model="user.account.email" placeholder="email@domain.com" class="form-control has-icon" ng-required="true" ng-pattern="regex.email"/>
      <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_mail" /></svg>
    </div>
  </div>
  <div class="form-group" ng-if="!login">
    <div class="input-bg">
      <label for="user-name">Name</label>
      <span class="input-error-text small">is required</span>
      <input id="user-name" type="text" ng-model="user.bio.name" placeholder="First Last" class="form-control has-icon" ng-required="true" ng-pattern="regex.general"/>
      <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_person" /></svg>
    </div>
  </div>
  <div class="form-group" ng-if="!login && !starting">
    <div class="input-bg">
      <label for="user-title">Title</label>
      <input id="user-title" type="text" ng-model="user.bio.title" placeholder="Title" class="form-control has-icon"/>
      <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_person" /></svg>
    </div>
  </div>
  <div class="form-group" ng-if="login && !onboarding">
    <div class="input-bg">
      <label for="user-password">Password</label>
      <span class="input-error-text">is required</span>
      <input id="user-password" type="password" ng-model="user.account.password" placeholder="Password" class="form-control has-icon" ng-required="true"/>
      <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_lock" /></svg>
    </div>
  </div>
</div>
