<form name="loginForm" ng-submit="submit()">
  <user-inputs include="email,password"></user-inputs>
  <button ng-disabled="state == options.inProgress || loginForm.$invalid" type="submit" class="btn btn-raised btn-success btn-block ng-disabled" disabled>Log In</button>
  <div class="clearfix"><br/></div>
  <div class="clearfix">
    <a class="btn btn-default btn-flat" ui-sref="passwordForgot">Forgot Password?</a>
    <a class="btn btn-flat btn-info pull-right" href="/start">Need an Account?</a>
  </div>
</form>