@font-face {
  font-family: 'InconsolataMedium';
  src: url('/public/fonts/Inconsolata-webfont.eot');
  src: local('☺'), url('/public/fonts/Inconsolata-webfont.woff') format('woff'), url('/public/fonts/Inconsolata-webfont.ttf') format('truetype'), url('/public/fonts/Inconsolata-webfont.svg#webfont6txitxZN') format('svg');
  font-weight: normal;
  font-style: normal;
}

// $body-font-weight: 300;
// $body-med-font-weight: 500;
// $body-font-bold-weight: 700;
// $heading-font-weight: 500;
// $heading-font-bold-weight: 700;
// $serif-font-weight: 400;