.form-group {
  border: none;
  position: relative;
  &.search-group {
    margin-top: 4em;
  }
  > label {
    @include opacity(0);
    @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function,
                        opacity $swift-ease-out-duration $swift-ease-out-timing-function,
                        visibility $swift-ease-out-duration $swift-ease-out-timing-function);
    // .transition-transform-opacity(@transition_transform);
    @include transform(translate(-32px,0));
    color: $text-color-secondary;
    display: inline-block;
    font-size: 14px;
    font-weight: $body-font-weight;
    margin-top: 0.4rem;
    visibility: hidden;
    + input {padding-top: 0.8rem;}
  }
  > input[type='text'], > [type='email'], > [type='password'], > textarea  {
    @include box-shadow(none);
    @include placeholder($text-color-secondary);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $gray-800;
    color: $text-color;
    padding-left: 0;

    &:hover {
      border-bottom-color: $gray-400;
      & ~ .input-icon {
        fill: $gray-400;
      }
    }
    &:focus, &:active, &.has-content, &.error {
      @include placeholder(transparent);
      ~ label {
        @include opacity(100);
        @include transform(translate(0,0));
        visibility: visible;
      }
    }
    &:focus, &:active {
      @include box-shadow(0 1px 0 $brand-info);
      border-bottom-color: $brand-info;
      ~ label {color: $brand-info;}
      ~ .input-icon { fill: $brand-info; }
    }
    &.ng-invalid {

      &:not(.ng-pristine),&.ng-invalid-pattern{
        @include box-shadow(0 1px 0 $brand-danger);
        border-bottom-color: $brand-danger;
        ~ label {
          @include opacity(100);
          @include transform(translate(0,0));
          visibility: visible;
          color: $brand-danger;
        }
        ~ .input-icon { fill: $brand-danger; }
        ~ .input-error-text {
          @include opacity(100);
          // .translate(0;0);
          @include transform(translate(0,0));
          visibility: visible;
        }
      }
    }
    &.ng-valid.ng-touched {
      ~ label {
        @include opacity(100);
        @include transform(translate(0,0));
        visibility: visible;
        color: $text-color-secondary;
      }
    }
    &.has-icon {
      text-indent: 32px;
    }
  }// > input
  > input[type='search'] {
    @include border-radius(3px);
    @include appearance(none);
    @include placeholder($text-color-secondary);
    @extend .md-shadow-bottom-z-1;
    background-color: $gray-800;
    border: none;
    color: $text-color;
    padding: 1.5em 1em;
    text-indent: 2em;
    &:focus {
      outline: none;
    }
    + .search-icon {
      fill: $text-color-secondary;
      height: 24px;
      left: 0.75em;
      margin-top: -12px;
      position: absolute;
      top: 50%;
      width: 24px;
    }
  }
  .input-suffix{
    // position: absolute;
    // top: 0;
    // right: 0;
    padding: 6px 12px;
    color: $gray-400;
  }
}//.form-group
.input-error-text {
  @include opacity(0);
  @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function, opacity $swift-ease-out-duration $swift-ease-out-timing-function, visibility $swift-ease-out-duration $swift-ease-out-timing-function);
  // .transition-transform-opacity(@transition_transform 100ms);
  @include transform(translate(32px,0));
  color: $brand-danger;
  display: inline-block;
  font-weight: $body-font-weight-bold;
  visibility: hidden;
}
.input-icon {
  @include transition(fill $swift-ease-out-duration $swift-ease-out-timing-function);
  fill: $text-color-secondary;
  height: 20px;
  left: 0;
  margin-top: 6px;
  position: absolute;
  top: 0;
  width: 20px;
}
.help-block {
  color: $text-color-secondary;
  font-family: $font-family-serif;
  font-size: 13px;
  font-style: italic;
}

.btn-none{
  -webkit-appearance:none;
  background:none;
  border:0;
}

// input{
//   &.ng-invalid.ng-touched{
//     border-color:$brand-danger;
//     background: $brand-danger;
//     color: white;
//     &:focus{
//       @extend .form-control;
//     }
//   }
// }

// .st-sort-ascent{
//   &:before{
//     content: '\25B2';
//   }
// }
// .st-sort-descent{
//   &:before{
//     content: '\25BC';
//   }
// }

// .table{
//   > tbody{
//     > tr {
//       > td{
//         border:2px solid white;
//       }
//     }
//   }
// }

// .table-striped{
//   > tbody{
//     > tr{
//       &:nth-child(odd){
//         background-color:$gray-lighter;
//       }
//     }
//   }
// }