body {
  padding-bottom: 100px;
}

.content-pad {
  padding-top: 32px;
}

.display-flex{
  @include display-flex;
}
.display-flex-sm{
  @include breakpoint($screen-sm){
    @include display-flex;
  }
}
.vertical-align{
  @include display-flex;
  @include align-items(center);
}
.vertical-align-sm{
  @include breakpoint($screen-sm){
    @include display-flex;
    @include align-items(center);
  }
}
.flex-1{
  @include flex(1);
}
.flex-column{
  @include flex-direction(column);
}
.flex-wrap{
  @include flex-wrap(wrap);
}
.justify-content-between{
  @include justify-content(space-between);
}
.justify-content-around{
  @include justify-content(space-around);
}
.flex-75{
  @include flex(1 75%);
}
.flex-25{
 @include flex(1 25%);
}
.flex-order-1{
  @include order(1);
}

/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
}

[ui-view] {
  &.no-transition{
    @include transition(none);
  }
}

[ui-view]{
  @include transition(all $swift-ease-out-duration $swift-ease-out-timing-function);
  // @include transition(all 5000ms);
  &.transition-slide{
    @include transition(all $swift-ease-in-out-duration $swift-ease-in-out-timing-function);
    @include transform-origin(top left);
  }
  &.ng-enter{
    &.transition-regular{
      @include transform(translateY(15px));
    }
    &.transition-slide{
      opacity:0;
      @include transform(translateY(150px));
      &.close{
        @include transform(none);
      }
    }
  }
  &.ng-enter,&.ng-leave-active{
    position:absolute;
    left:0;
    right:0;
    &.transition-regular{
      opacity:0;
    }
  }
  &.ng-enter-active,&.ng-leave{
    position:absolute;
    left:0;
    right:0;
    &.transition-regular{
      opacity:1;
      @include transform(none);
    }
    &.transition-slide{
      opacity:1;
     @include transform(none);
    }
  }
  &.ng-leave-active{
    &.transition-regular{
      @include transform(translateY(-15px));
      opacity:0;
    }
    &.transition-slide{
      // @include transform(translateX(100%));
      opacity:0;
      @include transform(none);
      &.close{
        opacity:0;
        @include transform(translateY(150px));
      }
    }
  }
}

.padding-lr{
  padding-left:1em;
  padding-right:1em;
}