.display-flex{
  @include display-flex;
}
.display-flex-sm{
  @include breakpoint($screen-sm){
    @include display-flex;
  }
}
.vertical-align{
  @include display-flex;
  @include align-items(center);
}
.vertical-align-sm{
  @include breakpoint($screen-sm){
    @include display-flex;
    @include align-items(center);
  }
}
.flex-1{
  @include flex(1);
}
.flex-column{
  @include flex-direction(column);
}
.flex-wrap{
  @include flex-wrap(wrap);
}
.justify-content-between{
  @include justify-content(space-between);
}
.flex-75{
  @include flex(1 75%);
}
.flex-25{
 @include flex(1 25%);
}

/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
}

[ui-view]{
  &.no-transition{
    @include transition(none);
  }
}

[ui-view]{
  @include transition(all $swift-ease-out-duration $swift-ease-out-timing-function);
  &.ng-enter{
    @include transform(translateY(15px));
  }
  &.ng-enter,&.ng-leave-active{
    opacity:0;
    position:absolute;
    left:0;
    right:0;
  }
  &.ng-enter-active,&.ng-leave{
    @include transform(none);
    opacity:1;
    position:absolute;
    left:0;
    right:0;
  }
  &.ng-leave-active{
    @include transform(translateY(-15px));
    opacity:0;
  }
}

.padding-lr{
  padding-left:1em;
  padding-right:1em;
}