.md-list {
  list-style: none;
  padding: 8px 0;
  &.md-list-two-line {
    .md-list-item {
      // padding: 20px 16px;
      .md-list-item-col{
        padding: 20px 16px;
      }
    }
  }
}
.md-list-item {
  @include box-sizing(border-box);
  @include transition(background-color $swift-ease-out-duration $swift-ease-out-timing-function);
  border-bottom: 1px solid $gray-800;
  line-height: 16px;
  // padding: 16px 16px;
  position: relative;
  // &:active {
  //   background-color: $gray-800;
  // }
}
.md-list-link {
  color: inherit;
  text-decoration: none;
  &:hover, &:focus {
    color: inherit;
    text-decoration: none;
  }
}
.md-list-line {
  display: block;
  &:nth-of-type(2) {
    color: $text-color-secondary;
  }
}
.md-list-avatar {
  border-radius: 20px;
  color: $body-bg;
  fill: $text-color;
  font-family: $headings-font-family;
  font-weight: 500;
  width: 40px;
  height: 40px;
  margin:1em 1em 1em 0;
  &.md-list-avatar-right{
    margin:1em 0 1em 1em;
  }
  &.running {
    background-color: $red-500;
    .avatar-inner {
      background-color: $green-300;
      border-color: $body-bg;
    }
    #loader {
      fill: $green-300;
    }
  }
  &.stopped { background-color: $red-500;}
  &.unmonitored { background-color: $yellow-800;}
}
.md-list-avatar-small {
  height: 18px;
  width: 18px;
}
.md-list-avatar-inner {
  @include box-sizing(border-box);
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 16px;
  height: 32px;
  left: 4px;
  line-height: 28px;  //WAT?
  position: absolute;
  text-align: center;
  top: 4px;
  width: 32px;
}