.md-subheader {
  color: $text-color-secondary;
  height: 48px;
  margin: 0 0;
  padding: 16px 16px;
  &.md-subheader-has-avatars {
    padding-left: 72px;
  }
}
.md-subheader-content {
  display: block;
  font-family: $font-family-sans-serif;
  font-size: 0.875rem;
  font-weight: $body-font-weight-med;
  line-height: 1rem;
}