.md-card {
  @extend .md-shadow-bottom-z-1;
  background-color: darken($body-bg,3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 8px;
  > img,
  > :not(md-card-content) img {
    width: 100%;
  }
  .md-card-content {
    padding: 16px;
    > h2 {
      margin: 0 0;
    }
  }
  .md-actions {
    margin: 0;

    .btn {
      margin-bottom: 8px;
      margin-top: 8px;
      margin-right: 4px;
      margin-left: 4px;
    }
  }
  .md-card-footer {
    padding: 16px;
  }
}

@media screen and (-ms-high-contrast: active) {
  .md-card {
    border: 1px solid black;
  }
}

