.nav-tabs {
  border-bottom: 0;
  > li {
    > a {
      border: none;
      border-bottom: 2px solid transparent;
      color: $text-color-secondary;
      font-weight: $body-font-weight-med;
      text-transform: uppercase;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: transparent;
        border-color: transparent;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $brand-primary;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $brand-primary;
        color: $text-color;
        cursor: default;
      }
    }
  }
}