$font-family-sans-serif:  'Gotham SSm A','Gotham SSm B',sans-serif;
$font-family-serif:       'Sentinel SSm A', 'Sentinel SSm B';
$font-family-monospace:   'InconsolataMedium', monospace;
$headings-font-family:    'Tungsten Rounded A', 'Tungsten Rounded B', sans-serif;
$headings-font-weight:    500;
$btn-font-weight:         500;

//THIS IS NOT A BOOTSTRAP VARIABLE
$body-font-weight:        300;