// $brand-primary:         $charting-blue;
// $brand-success:         $charting-green;
// $brand-warning:         $charting-violet;
// $brand-danger:          $charting-orange;
// $brand-info:            $charting-darkBlue;

$gray:                   #777877;
$gray-darkest:            darken($gray, 40%);
$gray-darker:            darken($gray, 10%);
$gray-light:             lighten($gray, 20%);
$gray-lighter:           lighten($gray, 45%);
$gray-lightest: lighten($gray,50%);

$grid-gutter-width:30px;

$container-tablet:             ((720px + $grid-gutter-width));
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            ((800px + $grid-gutter-width));
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      ((1020px + $grid-gutter-width));
$container-lg:                 $container-large-desktop;

$input-color:$gray-darker;

// font stacks
$monospace:"orator-std", "Droid Sans Mono", 'Open Sans', Helvetica, Arial, sans-serif;
$sans-serif:'Myriad Pro', 'Myriad', Arial, sans-serif;
$headings-font-family: $sans-serif;
