html {
  font-size: 62.5%;
  line-height: 1.4;
}
body {
  color: $text-color;
  font-size:$font-size-base;
  font-weight: $body-font-weight;
}
pre, code {
  font-family: $font-family-monospace;
}
pre {
  background-color: $gray-900;
}

.md-title {
  font-size: $font-size-small;
  font-weight: 500;
  letter-spacing: 0.005em;
}

h1, .h1{
  font-family:$headings-font-family;
}

h2, .h2{
  margin:0 0 .5em 0;
  font-family:$headings-font-family;
}

h3,.h3{
  font-family: $font-family-sans-serif;
  font-size: 1.4rem;
  font-weight: $body-font-weight-med;
  line-height: 1.6rem;
  color: $text-color-secondary;
}

.text-secondary{
  color:$text-color-secondary;
}

.text-sm{
  font-size:.8em;
}

em{
  font-family:$font-family-serif;
}

.line-height-1{
  line-height:1.3em;
}