<div class="tutorial">
  <md-toolbar title="How Opsee Works"></md-toolbar>
  <div class="ui-view-container">
    <div ui-view class="no-transition" ng-class="{popstate:popstate}"></div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <a class="btn btn-success btn-block btn-raised" href="#" ng-click="$state.go(step.link)">
          {{step.text}} <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_chevron_right" /></svg>
          </a>
          <div class="step-counter">
            <div ng-class="{active:$state.is('onboard.tutorial.'+s)}" class="step-bullet" ng-repeat="s in [1,2,3]"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>