<div class="step-container" ng-class="{active:$state.is('onboard.tutorial.4')}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <img class="step-image" src="{{step.img}}" alt="valid">
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <h2>We scan your environment</h2>
          <p>Once it's up and running, the bastion software will scan AWS for the services you have running.</p>
        </div>
      </div>
    </div>
  </div>
</div>