<div class="step-container" ng-class="{active:$state.is('onboard.tutorial.2')}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <img class="step-image" src="{{step.img}}" alt="valid">
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <h2>Then, the Bastion Works for You</h2>
          <p>The Bastion is a prebuilt AMI that runs inside your AWS environment. It automatically discovers your infrastructure and services, and coordinates health checking and incident response. When you run a health check or restart an instance in Opsee, it's the Bastion doing the work.</p>
        </div>
      </div>
    </div>
  </div>
</div>