<md-toolbar title="Set Your Password"></md-toolbar>
<div class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <form name="passwordForm" ng-submit="submit()" ng-if="user.activationId">
      <user-inputs user="user" include="password"></user-inputs>
      <button class="btn btn-primary" type="submit" ng-disabled="passwordForm.$invalid">Next</button>
    </form>
    <div ng-if="!user.activationId">
      <h2>Error</h2>
      <p>Bad URL parameters.</p>
    </div>
  </div>
</div>