<form name="passwordForgotForm" ng-submit="submit()" class="container">
  <div class="col-xs-12">
    <div class="form-group">
      <input type="email" ng-model="user.account.email" placeholder="Email" class="form-control has-icon" ng-required="true" ng-pattern="regex.email" />
      <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_mail" /></svg>
      <label>Email</label>
      <span class="input-error-text small">is not valid</span>
    </div>
    <button ng-disabled="passwordForgotForm.$invalid" type="submit" class="btn btn-raised btn-success btn-block">Send Reset Email</button>
    <div><br/></div>
    <div ng-if="msg">{{msg}}</div>
  </div>
</form>