<div class="container">
  <div class="col-xs-12">
    <div ng-if="user.activationId">
      <h2>Set your password</h2>
      <form name="passwordForm" ng-submit="submit()">
        <div class="form-group">
          <input type="password" ng-model="user.account.password" placeholder="Password" class="form-control has-icon" ng-required="true"/>
          <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_lock" /></svg>
          <label>Password</label>
          <span class="input-error-text">is required</span>
        </div>
        <button class="btn btn-primary" type="submit" ng-disabled="passwordForm.$invalid">Next</button>
      </form>
    </div>
    <div ng-if="!user.activationId">
      <h2>Error</h2>
      <p>Bad URL parameters.</p>
    </div>
  </div>
</div>