<div>
  <md-toolbar title="Edit Your Profile" btn-position="left">
    <button class="btn btn-icon btn-flat" ng-click="close()"><svg class="btn-fab-icon" viewBox="0 0 24 24"><use xlink:href="#ico_close" /></svg></button>
  </md-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <form name="profileForm">
          <user-inputs user="profile"></user-inputs>
        </form>
        <div ng-if="!user.integrations.slack.user">
          <slack-auth></slack-auth>
        </div>
      </div>
    </div>
  </div><!-- .container -->
</div>