<div>
  <md-toolbar title="Your Profile">
    <a href="/profile/edit" class="btn btn-primary btn-fab" tooltip="Edit Your Profile" title="Edit Your Profile">
      <svg class="btn-fab-icon" viewBox="0 0 24 24"><use xlink:href="#ico_edit" /></svg>
    </a>
  </md-toolbar>
  <div class="container">
    <div class="row">
      <div class="content-pad col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

        <h2>{{profile.name}}</h2>

        <profile-img></profile-img>

        <table class="table">
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>{{profile.subdomain}}</td>
            </tr>
            <tr>
              <td><strong>Email</strong></td>
              <td>{{profile.email}}</td>
            </tr>
          </tbody>
        </table>

        <div class="btn-container btn-container-bordered-top btn-container-righty">
          <button class="btn btn-flat btn-danger" ng-click="user.logout()">Log out</button>
        </div>
      </div>
    </div>
  </div><!-- .container -->
</div>