<div>
  <div class="md-toolbar md-medium-tall">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <div class="md-toolbar-tools">
            <h1 class="">Your Profile</h1>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .md-toolbar -->
  <div class="container">
    <div class="row">
      <div class="content-pad col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <profile-img></profile-img>
        <div>{{profile.name}}</div>
        <div>Username: {{profile.customer_id}}</div>
        <div>Email: {{profile.email}}</div>
        <a ui-sref="profileEdit">Edit Your Profile</a>

        <button class="btn btn-raised btn-danger btn-block" ng-click="user.logout()">Log out</button>
      </div>
    </div>
  </div><!-- .container -->
</div>