<div>
  <md-toolbar title="Change Your Password" btn-position="middle">
    <a class="btn btn-icon btn-flat" href="/profile"><svg class="btn-fab-icon" viewBox="0 0 24 24"><use xlink:href="#ico_close" /></svg></a>
  </md-toolbar>
  <div class="container">
    <div class="row">
      <form name="passwordForgotForm" ng-submit="submit()" class="container col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-xs-12">
          <div class="form-group display-flex flex-wrap">
            <input id="userPassword" type="password" name="userPassword" ng-model="user.account.password" placeholder="Current Password" class="form-control has-icon flex-order-1" ng-required="true"/>
            <label for="userPassword">
              <span class="form-label">Current Password</span>
              <default-messages ng-model="passwordForgotForm.userPassword"></default-messages>
            </label>
            <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_lock" /></svg>
          </div>
          <div class="form-group display-flex flex-wrap">
            <input id="newPassword" type="password" name="newPassword" ng-model="user.account.newPassword" placeholder="New Password" class="form-control has-icon flex-order-1" ng-required="true"/>
            <label for="newPassword">
              <span class="form-label">New Password</span>
              <default-messages ng-model="passwordForgotForm.newPassword"></default-messages>
            </label>
            <svg class="input-icon" viewBox="0 0 24 24"><use xlink:href="#ico_lock" /></svg>
          </div>
          <button ng-disabled="passwordForgotForm.$invalid" type="submit" class="btn btn-raised btn-success btn-block">Finish</button>
          <div><br/></div>
          <div ng-if="msg">{{msg}}</div>
        </div>
      </form>
    </div>
  </div>
</div>