<md-toolbar title="Set Your Password"></md-toolbar>
<div class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <p>Welcome! Let's set up your Opsee account. First, set a password:</p>
    <form class="padding-tb" name="passwordForm" ng-submit="submit()" ng-if="user.activationId">
      <user-inputs user="user" include="password"></user-inputs>

      <div class="btn-container btn-container-fixed btn-container-bordered-top btn-container-righty">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <button class="btn btn-flat btn-success" type="submit" ng-disabled="passwordForm.$invalid">Next: Opsee Tutorial <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ico_chevron_right" /></svg></button
            </div>
          </div>
        </div>
      </div>
    </form>
    <div ng-if="!user.activationId">
      <h2>Error</h2>
      <p>Bad URL parameters.</p>
    </div>
  </div>
</div>