<div>
  <md-toolbar title="Edit Your Profile" btn-position="left">
    <button class="btn btn-icon btn-flat" ng-click="close()"><svg class="btn-fab-icon" viewBox="0 0 24 24"><use xlink:href="#ico_close" /></svg></button>
  </md-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <form name="profileForm" ng-submit="submit()">
          <user-inputs user="profile" include="email,name"></user-inputs>
          <div class="padding-tb">
            <a href="/profile/password-change" class="btn btn-flat btn-warning">Change Your Password</a>
          </div>
          <div ng-if="!user.integrations.slack.user">
            <slack-auth></slack-auth>
          </div>
          <button type="submit" class="btn btn-primary pull-right">Finish</button>
        </form>
      </div>
    </div>
  </div><!-- .container -->
</div>