@mixin placeholder($color) {
  &::-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder { color: $color; }
  &::-webkit-input-placeholder  { color: $color; }
}

@mixin triangle($direction, $color, $size) {
  @if $direction == "left" {
          border-bottom: $size solid transparent;
          border-right: $size solid $color;
          border-top: $size solid transparent;
  }
  @else if $direction == "right" {
          border-bottom: $size solid transparent;
          border-left: $size solid $color;
          border-top: $size solid transparent;
  }
  @else if $direction == "up" {
          border-bottom: $size solid $color;
          border-left: $size solid transparent;
          border-right: $size solid transparent;
  }
  @else if $direction == "down" {
          border-right: $size solid transparent;
          border-left: $size solid transparent;
          border-top: $size solid $color;
  }
  content:'';
  display: block;
  height: 0;
  width: 0;
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
/* ==|== Example ===================================================================================
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
================================================================================================= */